<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :attempts_per_game %>
    <%= form.text_field :attempts_per_game %>
  </div>

  <div class="field">
    <%= form.label :total_attempts %>
    <%= form.number_field :total_attempts %>
  </div>

  <div class="field">
    <%= form.label :total_yards %>
    <%= form.number_field :total_yards %>
  </div>

  <div class="field">
    <%= form.label :average_yards_per_attempt %>
    <%= form.text_field :average_yards_per_attempt %>
  </div>

  <div class="field">
    <%= form.label :yards_per_game %>
    <%= form.text_field :yards_per_game %>
  </div>

  <div class="field">
    <%= form.label :rushing_touchdowns %>
    <%= form.number_field :rushing_touchdowns %>
  </div>

  <div class="field">
    <%= form.label :longest_rush %>
    <%= form.number_field :longest_rush %>
  </div>

  <div class="field">
    <%= form.label :longest_rush_is_touchdown %>
    <%= form.check_box :longest_rush_is_touchdown %>
  </div>

  <div class="field">
    <%= form.label :first_downs %>
    <%= form.number_field :first_downs %>
  </div>

  <div class="field">
    <%= form.label :first_downs_percent %>
    <%= form.text_field :first_downs_percent %>
  </div>

  <div class="field">
    <%= form.label :twenty_plus %>
    <%= form.number_field :twenty_plus %>
  </div>

  <div class="field">
    <%= form.label :forty_plus %>
    <%= form.number_field :forty_plus %>
  </div>

  <div class="field">
    <%= form.label :fumbles %>
    <%= form.number_field :fumbles %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
