<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Attempts per game:</strong>
  <%= @player.attempts_per_game %>
</p>

<p>
  <strong>Total attempts:</strong>
  <%= @player.total_attempts %>
</p>

<p>
  <strong>Total yards:</strong>
  <%= @player.total_yards %>
</p>

<p>
  <strong>Average yards per attempt:</strong>
  <%= @player.average_yards_per_attempt %>
</p>

<p>
  <strong>Yards per game:</strong>
  <%= @player.yards_per_game %>
</p>

<p>
  <strong>Rushing touchdowns:</strong>
  <%= @player.rushing_touchdowns %>
</p>

<p>
  <strong>Longest rush:</strong>
  <%= @player.longest_rush %>
</p>

<p>
  <strong>Longest rush is touchdown:</strong>
  <%= @player.longest_rush_is_touchdown %>
</p>

<p>
  <strong>First downs:</strong>
  <%= @player.first_downs %>
</p>

<p>
  <strong>First downs percent:</strong>
  <%= @player.first_downs_percent %>
</p>

<p>
  <strong>Twenty plus:</strong>
  <%= @player.twenty_plus %>
</p>

<p>
  <strong>Forty plus:</strong>
  <%= @player.forty_plus %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @player.fumbles %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
